!!! 5
%html{ lang: 'en', class: 'full' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: t('app.description') }
    %meta{ name: 'author', content: t('app.author') }
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag asset_path 'favicon.ico'
    = csrf_meta_tags

  %body
    .container
      %br/
      = render 'shared/header'
      =  yield
  = javascript_include_tag 'application'